@font-face {
  font-family: 'FF Mark';
  src: url('assets/fonts/Mark-Light.ttf') format('truetype');
  font-style: light;
  font-weight: light;
}

@font-face {
  font-family: 'FF Mark';
  src: url('assets/fonts/Mark-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: 'FF Mark SmallCaps';
  src: url('assets/fonts/Mark-SmallCaps-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #213242;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-family: 'FF Mark SmallCaps';
}

.App {
  text-align: center;
}

.auto {
  height: auto;
}

.flex {
  align-self: stretch;
}

.fullsize {
  background-color: #213242;
  height: 100vh;
}

.divNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh
}



.nowrap {
  flex-wrap: nowrap;
}

.ulNav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
}

.nav-link {
  display: flex;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.align-middle {
  vertical-align: middle;
}

.breadcrumb {
  color: white;
  background-color: #212529;

}

.nav {
  --bs-nav-link-color: white;
  --bs-nav-link-disabled-color: #a5a5a5;
  --bs-nav-link-hover-color: white;
}

.a:focus {
  color: white !important;
}

a:hover {
  color: grey !important;
}

.bordeNav {
  border-bottom: 1px solid #5E6A75;
  border-right: 0px;
}

@media(min-width:768px) {
  .bordeNav {
    border-bottom: 0px;
    border-right: 1px solid #5E6A75;
  }
}

.layout-content{
  min-width: initial;
  min-height: 30rem;
  margin-top: 1vw;
}

.grid-flex{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
}

.vertical{
  flex-direction: column;
  flex-wrap: nowrap;
}

.spacing-huge{
  margin: 0;
}

.size-content{
  flex: 0 0 auto;
  min-width: 0;
}