.table-damage > .damage > .dealt{
    text-align: center;
    color: var(--grey200);
    font-size: 11px;
    line-height: 14px;
}

.table-damage > .damage > .progress{
    width: 50px;
    height: 6px;
    margin: 4px auto 0px;
    background-color: var(--black200);
}

.table-damage > .damage > .progress > .fill{
    height: 100%;
    background-color: var(--red100);
}