.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:min(100% - 20px, 1100px);
    margin-top: 8px;
}

.profile > .nav{
    display: flex;
    width: 100%;
}