.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:min(100% - 20px, 1100px);
}

.profile > .nav{
    display: flex;
    width: 100%;
}

.edit-profile {
    max-width: 800px;
    min-width: 800px;
}