.tournaments-page {
    display: flex;
    flex-direction: column;
    width: min(100% - 20px, 1100px);
    gap:8px;
}

.tournaments-page > .filters {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
    border-radius: 4px;
    width: 100%;
}

.separador-flex{
    margin-right: auto;
}

.filter-button{
    border:none;
    max-width: 125px;
    background-color: var(--blue300);
    height: 100%;
    line-height: 35px;
    font-size: 14px;
}

.filter-button.selected {
    background-color: var(--blue200);
}

.filter-button:hover{
    background-color: var(--blue200);
}

.widget{
    max-width: 280px;
    width: 100%;
    border: none;
    font-size: 1em;
    font-family: inherit;
    outline: 0;
    position: relative;
}

.widget-selector{
    display: grid;
    overflow: hidden;
    min-height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    grid-template: 1fr/1fr 1.9em;
    width: 100%;
}

.widget-input{
    margin: 0;
    border: none;
    touch-action: manipulation;
    outline: 0;
    color: #495057;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-clip: padding-box;
    border:none;
    border-radius: 0px;
    line-height: 33px;
    font-size: 14px;
}

.widget-button{
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: padding-box none;
    line-height: inherit;
    touch-action: manipulation;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #ccc;
    border-radius: 0px;
}



.widget-popup-container{
    position: absolute;
    z-index: 2;
    left: -1em;
    right: -1em;
    padding: 0 1em;
}

.widget-popup{
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    width:100%;
    height:100%;
}

.widget-list{
    font-size: 1em;
    overflow-x: visible;
    overflow-y: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-height: 250px;
}

.widget-list-option{
    padding: 0.25em 1.5em;
    outline: 0;
    user-select: none;
    color: #212529;
    cursor: pointer;
    border: 1px solid transparent;
    background-clip: padding-box;
    line-height: 26.4px;
    font-size: 14px;
}

.widget-list-option:hover{
    background-color:#ccc;
}


.widget-popup-container-none{
    display:none;
}

.tournaments{
    width:100%;
    border-radius: 8px;
}

.tournaments > .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0px 12px;
    line-height: 35px;
    font-size: 14px;
    color: var(--grey100);
    background-color: var(--blue200);
}

.tournaments > .body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tournament{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--black300);
    border-left: 8px solid var(--blue100);
    border-right: 8px solid var(--blue100);
    transition: all 200ms;
    transform: scale(1);
}

.tournament:hover{
    transform: scale(1.03);
}

.tournament-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tournament-info-element{
    display: flex;
    flex-direction: row;
    line-height: 24px;
    font-size: 12px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.tournament-name{
    color: var(--grey100);
    font-weight: bold;
    font-size: 1.2em;
}



.info-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-text{
    color:var(--grey200);
}

.tournament-date > .info-text{
    text-transform: capitalize;
}

.tournament-img{
    width: 125px;
    height: 125px;
    border-radius: 8px;
    overflow: hidden;
}

.tournament-img > img{
    width: 100%;
    height: 100%;
}

.tournament-state{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
}

.state-text{
    color:white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    padding: 2px 8px;
    background-color: green;
}

.tournament-data{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}