.alert-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}

.alert-box {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-overlay .alert-box button {

}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    border-color: #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
}

.alert-box p {
    margin: 0;
    margin-right: 10px;
}

.alert-box button {
    text-transform: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    width: auto;
    border:none;
}