.tournament-view-page {
    width: min(1100px, 100% - 10px);
    align-self: center;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.background-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: -1.25rem;
}

.background-img>img {
    width: 100%;
}

.nombre-torneo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: calc(0.75rem + 3vw);
}

.game-card>span {
    color: white;
    font-weight: bold;
}

.game-card>img {
    width: 100%;
}

.participant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--blue300);
    border: 1px solid var(--grey200);
    font-weight: 400;
}

.bracket{
    height: 500px;
}

.brackets-rounds-menu {
    background-color: var(--black300);
    position: sticky;
    top: 0px;
    z-index: 11;
}

.bracket-rounds-menuitem {
    line-height: 40px;
}

.bracket-rounds-menuitem>div {
    color: white;
    font-weight: bold;
    margin-inline: 10px;
    flex: 1;
    background-color: var(--blue200);
    border-bottom: 4px solid white;
}

.brackets-rounds-body {
    background-color: var(--black300);
}

.brackets-rounds-column {
    height: 100%;
}

.brackets-rounds-match {
    gap: 1px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--grey200);
    margin: 35px 20px;
    background-color: var(--grey200);
    position: relative;
}

.brackets-rounds-match-modify{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 0.3s;
    opacity: 0;
}

.brackets-rounds-match-modify:hover{
    background-color: var(--blue200) !important;
    opacity: 1;
}

.brackets-rounds-match-team{
    padding-left: 10px;
    line-height: 40px;
    background-color: var(--grey100);
    color: black;
}

.brackets-rounds-match-team-result{
    font-weight: bold;
    padding-inline: 15px;
    background-color: rgb(202, 202, 202);
}