.Nav{
    background-color: #2b303d;
    display: block;
    font-size: calc(10px + 1vmin);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.NavItem {
    float: left;
    font-size: calc(8px + 1vmin);
    text-align: center;
    background-color: #15a12d;
    color: white;
    padding: 1vmin;
  }