@keyframes shadow-red {
    0% {box-shadow: 0px 0px 40px 0px rgb(212, 75, 75);}
}

@keyframes shadow-gold {
    0% {box-shadow: 0px 0px 40px 0px rgb(212, 164, 75);}
}

@keyframes shadow-blue {
    0% {box-shadow: 0px 0px 40px 0px rgb(75, 100, 212);}
}

.BotonJuego{
    margin: 1vw 2vw 1vw 2vw;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 0px;
    background-color: transparent;
}

.divTit{
    border-radius: 0px 0px 20px 20px;
    border:  1px solid #5E6A75;
    margin: 0px 4px 4px 4px;
    padding: 10px 0px;
    background-color: #212529;
    color: white;
}

.ImagenJuego:hover{
    padding: 4px;    
}

.valorant:hover{
    outline: 4px solid #795b5b;
    animation: shadow-red 1s 1;
}

.leagueoflegends:hover{
    outline: 4px solid #6b6955;
    animation: shadow-gold 1s 1;
}

.clashroyale:hover{
    outline: 4px solid #5b5d79;
    animation: shadow-blue 1s 1;
}

.pictureNormal{
    padding:4px 4px 0px 4px;    
}

.ImagenJuegoNormal{
    width:100%;
    border-radius: 20px 20px 0px 0px;
    border-top:  1px solid #5E6A75;
    border-left: 1px solid #5E6A75;
    border-right: 1px solid #5E6A75;
}


@media (min-width: 768px){
    .ImagenJuegomd{
        border-radius: 20px 20px 0px 0px;
        border-top:  1px solid #5E6A75;
        border-left: 1px solid #5E6A75;
        border-right: 1px solid #5E6A75;
        width:100%;
    }
}