.loginsignup {
    display: flex;
    flex-direction: column;
    width: min(425px, 100% - 10px);
}

.loginsignup .card-header {
    padding: 0px;
}

.loginsignup form {
    width: min(300px, 100% - 10px);
}

.loginsignup a {
    text-decoration: none !important;
}

.headeritem {
    color: white;
    border-top: 4px solid var(--blue200);
    border-bottom: 4px solid var(--blue200);
}

.headeritem:hover {
    border-bottom-color: white;
    font-weight: bold;
}

.headeritem.selected {
    border-bottom-color: white;
    font-weight: bold;
}

.login-img,
.signup-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    position:relative;
}

.login-img>img {
    width: 60%;
    border-radius: 50%;
}

.signup-img > .image-container {
    display: flex;
    position:relative;
    margin-inline: auto;
    max-width: 180px;
}
.signup-img > .image-container > img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--blue200);
    background-color: white;
}

.signup-img> .image-container > .signup-icon-selector{
    background-color: var(--blue200);
    border: 2px solid white;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.signup-img> .image-container > .signup-icon-selector > button {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.signup-img> .image-container > .signup-icon-selector > button:hover {
    background-color: var(--blue300);
}

.signup-img> .image-container > .signup-icon-selector > button > svg{
    width: 50%;
    height: 50%;
}

.signup-img> .image-container > .signup-icon-modal {
    position: absolute;
    background-color: var(--blue200);
    border-radius: 5px;
    border: 2px solid white;
    width: 250px;
    bottom: 25%;
    left: 50%;
    z-index: 20;
    translate: -50% 0;
    padding:5px;
}

.img-picker-item{
    padding: 5px;
}

.img-picker-item > button {
    background-color: transparent;
    border-color: transparent;
    padding: 0 !important;
    width: 100%;
}
.img-picker-item > button > img{
    width:100%;
    border-radius: 50%;
    background-color: white;
}

