form{
    padding: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2{
    justify-self: center;
    align-self: center;
    color: var(--grey100);
    line-height: 50px;
    font-size: 25px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-bottom: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--grey100);
}

.input > .input-component{
    display: flex;
    flex-direction: row;
}

.input > .input-component > input{
    width: 100%;
}

label{
    display: none;
}

input{
    outline: none;
    line-height: 40px;
    padding-inline: 10px;
    border:0;
    border-radius: 5px;
    background-color: var(--grey100);
    border: 3px solid var(--blue100);
}

button{
    width: 100%;
    line-height: 40px;
    color: var(--grey100);
    background-color: var(--blue200);
    border: 3px solid var(--grey100);
    border-radius: 5px;
}

.input > .input-component > button{
    width: auto;
}

.input > .input-component > button > img{
    width: 24px;
}