.profile > .header{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--blue200);
    width: 100%;
}

.profile > .header > .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0px 12px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.profile > .header > .body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--black300);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile > .header > .body > .info{
    flex:1;
    display: flex;
    flex-direction: row;
}

.profile > .header > .body > .info > .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profile > .header > .body > .info > .icon > img{
    background-color: black;
    border-radius: 50%;
    width:120px;
    border: 3px solid var(--blue100);
}

.profile > .header > .body > .info > .data{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile > .header > .body > .info > .data > .nickname{
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--grey100);
}

.profile > .header > .body > .info > .data > .email{
    line-height: 16px;
    margin-top: 2px;
    font-size: 14px;
    color: var(--grey100);
}

.profile > .header > .body > .info > .data .button{
    line-height: 24px;
    font-width:14px;
    margin-top:.75rem;
}

.profile > .header > .body > .info > .data .button > .update{
    padding: 0px 14px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue100);
    background-color: var(--blue100);
    color: var(--grey100);
}

.profile > .header > .body > .masteries{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width: 700px){
    .profile > .header > .body > .info > .icon {
        min-width: 70px;
    }
    .profile > .header > .body > .info > .icon > img{
        width: min(70px + 8vw,120px);
    }

    .profile > .header > .body > .info > .data > .nickname {
        line-height: min(10px + 3vw,30px);
        font-size: min(8px + 3vw,24px);
    }
}
@media(max-width: 380px){
    .profile > .header > .body > .masteries{
        display: none;
    }
}