.lol-mastery{ 
    display:flex;
    flex-direction: column;
    margin: 12px;
    background-color: var(--blue100);
    border-radius:5px;
    padding: 4px;
}

.lol-mastery > .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lol-mastery > .icon > img{
    border-radius: 5px;
    background-color: black;
    width: min(25px + 6vw, 80px);
    height: auto;
}

.lol-mastery > .data{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:4px;
    gap:4px;
}

.lol-mastery > .data > .lvl{
    margin-right: auto;
    color: var(--grey100);
    font-weight: bold;
    line-height: 35px;
    font-size: 20px;
    padding: 0px 8px;
    border-radius: 5px;
    background-color: var(--blue300);
}

.lol-mastery > .data > .points{
    color: var(--grey200);
    line-height: 35px;
    font-size: 12px;
    padding: 0px 8px;
    border-radius: 5px;
    background-color: var(--blue300);
}

@media(max-width: 580px){
    .lol-mastery{
        display: none;
    }
}